@font-face {
  font-family: "Finlandica";
  src: url("../asset/finlandica-v3-latin_cyrillic-regular.woff2");
  font-style: normal;
  font-weight: 400;
}

#__next,
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

* {
  margin: 0;
  font-family: Finlandica, sans-serif;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
